.navbar-brand{
    border: 1px solid #FFF;
    border-radius: 8px;
}

.car-item,
.tire-item,
.motor-item {
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    border: 1px #FFF solid;
    border-radius: 32px;
    margin: 12px;
    background-color: #FFF;
    
}

.nitro-icon{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

#nitros-buy-n{
    max-width: 100px;
}

.endpoint{
    display: block;
}

.endpoint-selected{
    font-weight: bold;
}

.car-item-header {
    height: 64px;
    background-color: #000;
    color: #FFF;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom: 4px #FFF dashed;
    padding: 2px;
}

.car-item-header h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
    margin-left: auto;

}

.car-item-footer {
    background-color: #000;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-top: 8px;
    border-top: 4px #FFF dashed;
    height: 56px;
}


.tab-content {
    display: flex;

}

.tab-pane {
    margin: auto;
}


.nft-image {
    max-width: 100%;
    max-height: 200px;
}

.nft-mounted, .nft-mounted-tire, .nft-mounted-engine {
    display: inline-block;
    max-width: 40%;
    height: 16px;
}

.free-car {
    color: red;
}

.track-infos {
    display: inline-block;
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    min-height: 200px;
    text-align: center;

}

.track-infos img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.anchor-logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M18.81 9.19h33.25V59.5H18.81z'/%3E%3Cpath d='M38.45 28.88h-6.9L35 21.77l3.45 7.1z' fill='%233650A2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35 70a35 35 0 100-70 35 35 0 000 70zm2.36-55.4a2.62 2.62 0 00-4.72 0L21.9 36.75h5.84l1.7-3.5h11.13l1.7 3.5h5.83L37.36 14.6zM48.13 44.2h-5.26a7.76 7.76 0 01-5.24 7v-10.5a2.62 2.62 0 10-5.25 0v10.5a7.76 7.76 0 01-5.25-7h-5.25c.16 7.06 6 12.69 13.12 12.69 7.12 0 12.97-5.63 13.13-12.7z' fill='%233650A2'/%3E%3C/svg%3E") !important;
    width: 72px;
    height: 72px;
    display: inline-block;
}

.wax-logo {
    background-image: url("https://www.crazy-cars.io/assets/img/wax-wallet-logo.png");
    width: 72px;
    height: 72px;
    display: inline-block;
}

.login-btn {
    width: 120px;
}

.center-box {
    display: inline-flex;
}

.mnt-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.unmount-btn{
    height: 72px;
    width: 128px;
    padding-top: 16px;
    display: inline-block;
    background-image: url('/assets/img/pliers2.png');
    text-shadow: rgba(255, 204, 0, 0.459) 1px 0 6px;
    color:#FFF;
}

.unmount-btn:hover{
    background-image: url('/assets/img/pliers-sm2.gif');
    text-shadow: #FC0 1px 0 10px;
    color:#FFF;
}

.btn-cc{
    background-color: #000;
    color:#FFF;
    border: 2px dashed #FFF;
    font-weight: bold;
    width: 32px;
}

.mount-btn{
    height: 72px;
    width: 128px;
    padding-top: 16px;
    display: inline-block;
    background-image: url('/assets/img/pliers.png');
    text-shadow: rgba(255, 204, 0, 0.459) 1px 0 6px;
    color:#FFF;
}

.mount-btn:hover{
    background-image: url('/assets/img/pliers-sm.gif');
    text-shadow: #FC0 1px 0 10px;
    color:#FFF;
}


#navbar-account,
#my-balance,
#my-steel-balance {
    display: inline-block;
    font-size: 1.0em;
}

#navbar-account h5 {
    font-size: 1.0em;
    cursor: pointer;
}

#network-div {
    display: inline-block;
}


.social-net img {
    max-width: 64px;
    margin: 16px;
}

.footer {
    color: #FFF;
    background-color: rgba(0, 0, 0, 1.0);
    border: 0px;

}

.footer a {
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;


}

.upgrade-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.stat-mod-add {
    color: #0F0;
    display: inline-block;
}

.stat-mod-sub {
    color: #F00;
    display: inline-block;
}




  .store-icon {
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
}

.damage-bar {
    background-color: #F00;
    width: 80%;
    height: 16px;
    margin: 2px auto 2px auto;
}

.damage-bar-inner {
    background-color: #0F0;
    height: 16px;
}

.steel-token-icon{
    vertical-align: middle;
}

@media (max-width: 800px) {

    #navbar-account h5,
    #my-steel-balance,
    #my-balance,
    #network-div {
        font-size: 0.72em;
        margin: 0px;
        padding: 0px;
    }

    .wax-token-icon,
    .steel-token-icon {
        width: 22px;
        height: 22px;
    }

    .nav-link {
        padding: 0px;
        margin: 0px;
        font-size: 0.8em;
    }

    .slidecontainer {
        width: 150px; /* Width of the outside container */
      }
}

#error{
    color:red;
    font-size: 1em;
    font-weight: bold;
}

.mounted-asset-icon{
    max-width: 256px;
}

.init-dmg-lnk{
    color: #F00;
    font-weight: bold;
    display: block;
}


.track-thumb {
    width: 80%;
    min-height: 120px;
    max-height: 120px;
    max-width: 200px;
    display: block;
    margin: auto;
}
